@page
@model moment_1._2.Pages.IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<h2>Välkommen</h2>

<p>Löksås ipsum har om sin jäst brunsås jäst samtidigt färdväg plats mjuka, ska sjö dock dimmhöljd plats se 
    själv upprätthållande gamla. Vad inom ingalunda annat när vid trevnadens tidigare gamla jäst, 
    sitt miljoner ännu tiden plats regn vemod vid, färdväg sin därmed blev annan och ska det. 
    Händer vid kunde denna enligt flera nu annat ingalunda kan sitt icke kom stig nya 
    sorgliga vid hwila, miljoner är helt stig att regn upprätthållande vid ännu bland sig 
    gör bra sjö olika mjuka.</p>

